.container{
    display:flex;
   margin :24px 0;
    align-items:center;

}
.infoContainer{
    display:flex;
    flex-direction: column;
    margin-left: 25px;
    align-items: start;


}

.eventTitle{
    font-size:24px;
    justify-content: center;
    text-align: center;
    margin-top:20px;

}
.eventInfo{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
img{
    height:240px;
    border-radius: 12px;
}
