h4{
    color: #f7f7f8;
    font-size:25px;
}
.Date{
    font-weight: 700;
    font-size:20px;
}
.imgDetail{
    height: 50vh;
    width: 120vh;
}
.containerNotesEvent{
    background-color: #4d6bc9;
}
.seatMap{
    background-color: #345a93;
}
.containerNotesEvent p{
    font-size:20px;
}
.homeButton{
    background-color: #185fcc;
    width:80px;
    height:40px;
    border-radius: 8px;
    margin:10px;
    font-size: 20px;
    cursor: pointer;
}

@media(max-width:480px){
    .imgDetail{
        height: 200px;
        width: 300px;
    }
}